<table class="table table-responsive table-hover table-bordered">
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Avatar</th>
  </tr>
  <% @players.each do |player| %>
      <tr>
        <td><h4><em><%= player.last_name %></em></h4></td>
        <td><h4><em><%= player.first_name %></em></h4></td>
        <td style="text-align: center"><%= link_to '<i class="fa fa-user fa-2x"></i>'.html_safe, player_path(player) %></td>
        <td style="text-align: center"><%= link_to '<i class="fa fa-pencil-square-o fa-2x"></i>'.html_safe, edit_player_path(player) %></td>
        <td style="text-align: center">
          <div class="links">
            <a href="<%= player.avatar.url %>" title="Player <%= player.last_name %> <%= player.first_name %>" data-gallery>
              <img src=" <%= player.avatar.url(:thumb) %> " alt="Player <%= player.last_name %> <%= player.first_name %>" class="img-rounded">
            </a>
          </div>
        </td>
  <% end %>
  </tr>
</table>