<div class="jumbotron"><h1>PLAYERS LIST</h1></div>

<%= render 'shared/blueimp' %>

<% if Player.count == 0 %>
    <div class="row" style="padding-bottom: 20px">
      <div class="col-md-11 col-xs-10 col-xs-offset-1">
        <h3>There aren't any players yet. Please add new players.</h3>
      </div>
    </div>
<% else %>

<%= paginate @players, :theme => 'twitter-bootstrap-3', :window => 2 %>

<%= render 'players/players_listing' %>

<% end %>

<%= link_to "Create a New Player <i class='fa fa-user-plus'></i>".html_safe, new_player_path, class: "btn btn-primary dropdown-toggle", style: "margin-bottom: 20px" %>
<%= link_to 'Create a New Match <i class="fa fa-futbol-o"></i>'.html_safe, matches_new_path, class: "btn btn-primary dropdown-toggle", style: "margin-bottom: 20px" if Player.count >= 2 %>
<%= link_to "Players ranking <i class='fa fa-bar-chart'></i>".html_safe, '#', class: 'btn btn-large btn-primary', style: 'margin-bottom: 20px; float: right' %>

<script>
    $(".links table tr td:first-child a").onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>
